<!-- TEMPLATE DRIVEN - Validações são controladas pelo template -->

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" [ngModel]="usuario.nome" required #nome="ngModel">
  </div>
  <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger " role="alert">Nome é obrigatório</div>
<br>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="nome@email.com" [ngModel]="usuario.email" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
